<li>
	{{burger_name}}
	{{!-- Tried to match this button to the buger.js on click function, but something is wrong --}}
	<button type="button" class="btn btn-warning change-devoured" data-id="{{this.id}}">Devour It!</button>
</li>

